.Person{
    box-shadow: 0 4px 8px 0 rgba(53, 144, 230, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 300px;
    display: inline-block;
    background-color: blanchedalmond;
    color: #091f3f;
    margin: 8px;
    padding: 5px;
    cursor: pointer;
}

.PersonTop{
    display: flex;
    border-bottom: 2px solid #40a4c8;
}

.PersonBottom {
    margin: 8px;
}

.PersonTop h3 {
    margin-left: 7px;
    text-transform: uppercase;
}

.Horseimg {
    padding: 3px;
    height: 50px;
}